<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="" ><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Misión, Visión y Políticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="sliderOptions">
    <ion-slide>
    <div class="slide">
    <h2 class="header">MISIÓN</h2>
    <p class="ion-text-justify">En <b>Medic Path</b> trabajamos para facilitarle a los especialistas y a las personas el acceso a la información más adecuado para atender 
              sus síntomas mediante consultas médicas en línea y realizar diagnósticos que permiten informar de manera precisa. Nuestro trabajo es recabar la información 
              necesario para que esos diagnósticos médicos sean cada vez más certeros y confiables, todo lo que hacemos y todo en lo que creemos soporta nuestra misión.
    </p>
    </div>

    <div>
      <h2 class="header">VISIÓN</h2>
      <p class="ion-text-justify">Ser un sistema de consultas médicas confiable, seguro y certero que utiliza la tecnología para ofrecer un fácil acceso y comodidad al usuario, el cual 
                sea reconocido mundialmente por satisfacer o exceder las necesidades de diversos pacientes. Para lograrlo, se implementarán actualizaciones frecuentemente 
                para que el sistema siempre cuente con la información más reciente implementando nuevos métodos, diagnósticos y enfermedades para convertirlo en el 
                consultor medico en línea mas preciso y seguro.
      </p>
    </div>
    </ion-slide>

    <ion-slide>
      <div>
        <h2 class="header">POLÍTICAS</h2>
        <h4 class="header">CALIDAD</h4>
        <p class="ion-text-justify">Es nuestro compromiso ofrecer consultas médicas que satisfagan las necesidades de información y cumplan las expectativas de nuestros pacientes y darle oportunidad a los médicos 
           participantes de que demuestren sus conocimientos ante diversos pacientes y les permitan competir con éxito en mercados cada vez más globalizados, exigentes y cambiantes. 
           Nuestra organización se fundamenta en el mejoramiento y aprendizaje continuo, todo para cumplir con las responsabilidades adquiridas. Nos apoyamos utilizando la ayuda de 
           diversos médicos especializados en diferentes áreas y especialidades, médicos comprometidos con los objetivos de Medic Path, poseedores de una gran calidad humana y solvencia moral.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h2 class="header">POLÍTICAS</h2>
        <h4 class="header">SEGURIDAD</h4>
        <p class="ion-text-justify">Medic Path basando en las políticas de sistema de gestión de seguridad de la información (SGSI) es responsable de aprobar una política de seguridad de la información 
          que asegure los siguientes puntos:</p>
        <ul>
          <li class="security ion-text-justify">La información estará protegida contra cualquier acceso no autorizado.</li>
          <li class="security ion-text-justify">La confidencialidad de la información, especialmente aquella relacionada con los datos de carácter personal de los médicos y pacientes.</li>
          <li class="security ion-text-justify">La integridad de la información se mantendrá en relación a la clasificación de la información (especialmente la de “uso interno”).</li>
          <li class="security ion-text-justify">La disponibilidad de la información cumple con los tiempos relevantes para el desarrollo de los procesos críticos de las consultas</li>
          <li class="security ion-text-justify">Se cumplen con los requisitos de las legislaciones y reglamentaciones vigentes, especialmente con la Ley de Protección de Datos y de Firma Electrónica.</li>
          <li class="security ion-text-justify">La capacitación en materia de seguridad se cumple y se actualiza suficientemente para todos los administradores.</li>
          <li class="security ion-text-justify">Todos los eventos que tengan relación con la seguridad de la información, reales como supuestos, se comunicarán al responsable de seguridad y serán investigados.</li>
          <li class="security ion-text-justify">No se obtendrá ningún dato domiciliario de los pacientes</li>
        </ul>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h2 class="header">POLÍTICAS</h2>
        <h4 class="header">SERVICIO</h4>
        <p class="ion-text-justify">Dentro de este apartado se define el nivel de compromiso que Medic Path asume con los pacientes o usuarios al objeto de cumplir con los 
          niveles de servicio en cuanto a disponibilidad y tiempo de respuesta. Para ello se definen 3 puntos</p>
        <h4 class="header">Consultoría</h4>
        <p class="ion-text-justify"><b>Medic Path</b> se compromete a dar respuesta a dudas relacionadas con el uso del sistema, gestión de cuentas, soporte, fallas y errores en el servicio en menos de 24hrs.</p>
        <ul>
          <li class="service">Impactos y prioridades</li>
          <p class="ion-text-justify">La prioridad se establecerá en relación a la tipología del asunto. Priorizando aquellos casos de parada total del sistema o problemas en funcionamiento en BD.</p>
          <li class="service">Excepciones a la cláusula</li>
          <p class="ion-text-justify">Dicho servicio no es aplicable fuera del horario de servicio. Ante causas de fuerza mayor y no posibilidad de respuesta ante problemas de carácter general y 
             cuando por algún problema la no respuesta no puede ser atribuible a Medic Path.
             El tiempo de respuesta sólo será contabilizado respecto al horario de servicio y siempre en días laborales.  La contabilización del tiempo de respuesta empezará a correr sólo en el horario de servicio.
          </p>
          <li class="service">Gestión de reclamaciones</li>
          <p class="ion-text-justify">Los usuarios podrán realizar las reclamaciones que estime oportunas en relación al cumplimiento del servicio a través de cualquiera de los medios puestos al efecto:</p>
          <p>Correo electrónico: medicpath.services@gmail.com</p>
        </ul>

      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h2 class="header">POLÍTICAS</h2>
        <h4 class="header">SERVICIO - Registro de médicos en el sistema</h4>
        <p class="ion-text-justify"><b>Medic Path</b> se compromete a realizar el registro de nuevos médicos interesados a colaborar, creando un perfil único en menos de 24hrs por medio del cual aportarán 
          información al sistema para generar retroalimentación proactiva, beneficiando a los usuarios y proporcionando información de contacto directo.</p>
        <ul>
          <li class="service">Impactos y prioridades</li>
          <p class="ion-text-justify">La prioridad se establecerá en relación a su importancia para la realización de nuevos resultados.</p>
          <li class="service">Excepciones a la cláusula</li>
          <p class="ion-text-justify">Dicho servicio no es aplicable fuera del horario de servicio. Ante causas de fuerza mayor y realización de actualizaciones en el sistema no se podrán realizar el registro de nuevos médicos.
            El tiempo de respuesta sólo será contabilizado respecto al horario de servicio y siempre en días laborales.  La contabilización del tiempo de respuesta empezará a correr sólo en el horario de servicio.            
          </p>
          <li class="service">Gestión de reclamaciones</li>
          <p class="ion-text-justify">Los usuarios podrán realizar las reclamaciones que estime oportunas en relación al cumplimiento del servicio a través de cualquiera de los medios puestos al efecto:</p>
          <p>Correo electrónico: medicpath.services@gmail.com</p>
        </ul>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <h2 class="header">POLÍTICAS</h2>
        <h4 class="header">SERVICIO - Realización de consultas médicas</h4>
        <p class="ion-text-justify"><b>Medic Path</b> se compromete a ofrecer un diagnóstico preciso y seguro en menos de 3 minutos que permite al usuario informarse acerca de lo que pudiera estar padeciendo, el cual se basará en los síntomas mencionados por el usuario.
                                    Sin embargo se recomienda al usuario que los resultados mostrados los comunique con un médico real esto con el fin de evitar automedicaciones o bien dudas con respecto al resultado.</p>
        <ul>
          <li class="service">Impactos y prioridades</li>
          <p class="ion-text-justify">No existen prioridades para la realización de consultas médicas.</p>
          <li class="service">Excepciones a la cláusula</li>
          <p class="ion-text-justify">Ante la realización de actualizaciones en el sistema no se podrán realizar consultas médicas.</p>
          <li class="service">Gestión de reclamaciones</li>
          <p class="ion-text-justify">Los usuarios podrán realizar las reclamaciones que estime oportunas en relación al cumplimiento del servicio a través de cualquiera de los medios puestos al efecto:</p>
          <p>Correo electrónico: medicpath.services@gmail.com</p>
        </ul>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
