<ion-header>
    
    <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title >Bienvenido {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="content" main></ion-router-outlet>

<ion-content>
  <div *ngIf="isDoctor">
    <h4 text-center>Ultimas actualizaciones</h4>
    <p class="ion-text-center" text-center *ngIf="symptomsNew.length==0">Por el momento no se ha actualizado nada en la base de conocimiento</p>
    <ion-card *ngFor="let sintoma of symptomsNew" class="items fromLeft">
      <ion-card-header>
        <ion-card-subtitle *ngIf="sintoma.hasOwnProperty('nombre_sint')">Sintoma registrado</ion-card-subtitle>
        <ion-card-subtitle *ngIf="sintoma.hasOwnProperty('nombre_pad')">Padecimiento registrado</ion-card-subtitle>
        <ion-card-title *ngIf="sintoma.hasOwnProperty('nombre_sint')">{{sintoma.nombre_sint}}</ion-card-title>
        <ion-card-title *ngIf="sintoma.hasOwnProperty('nombre_pad')">{{sintoma.nombre_pad}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><span class="title">Creado:</span> {{sintoma.creationDate}}</p>
        
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!isDoctor" class="ion-text-center">
    <h4>Notificaciones</h4>
    <p *ngIf="roosterNews.length==0">Por el momento no tiene notificaciones</p>

    <ion-card *ngFor="let new of roosterNews" class="items fromLeft">
      <ion-card-header>
        <ion-card-subtitle>Tiene una consulta sin retroalimentación del día: </ion-card-subtitle>
        <ion-card-title>{{new.filter_date}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button routerLink="/history-detail/{{new.hashId}}" size="small" color="primary" >Ver</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>