.title{
    color:blue;
}

.loading{
  width: 100%;
  text-align: center;
  padding: 10px;
}

.fromRight{
    animation-name: fromRight;
    -webkit-animation-name: fromRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
  }
  
  @keyframes fromRight{
    0%{transform: translateX(150%);}
    50%{transform: translateX(-8%);}
    65%{transform: translateX(4%);}
    80%{transform: translateX(-4%);}
    95%{transform: translateX(2%)}
    100%{transform: translateX(0%)}
  }

.view{
  text-transform: none;
}
@media(max-width: 370px){

    ion-title{
        font-size: 14px;
    }   
}