.title{
    color:blue;
}

.fromLeft{
    animation-name: fromLeft;
    -webkit-animation-name: fromLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
  }
  
  @keyframes fromLeft{
    0%{transform: translateX(150%);}
    50%{transform: translateX(-8%);}
    65%{transform: translateX(4%);}
    80%{transform: translateX(-4%);}
    95%{transform: translateX(2%)}
    100%{transform: translateX(0%)}
  }


@media(max-width: 370px){

    ion-title{
        font-size: 14px;
    }   
}