<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/profile"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="reset" (ngSubmit)="changePassword()">
  <div formGroupName="password_validations">
    <ion-item class="ion-no-padding">
        <ion-label color="primary" position="floating">Nueva Contraseña</ion-label>
        <ion-input formControlName="newPass" type="password" ></ion-input>
        <ion-icon name="key" color="primary" slot="end"></ion-icon>
    </ion-item>

    <div class="validation-errors">
        <ng-container *ngFor="let validation of mensajes_error.password">
          <div class="error-message" *ngIf="reset.get('password_validations').get('newPass').hasError(validation.type) 
            && (reset.get('password_validations').get('newPass').dirty || reset.get('password_validations').get('newPass').touched)">
            <ion-icon name="alert"></ion-icon>{{validation.message}}
          </div>
        </ng-container>
    </div>

  <ion-item class="ion-no-padding">
      <ion-label color="primary" position="floating">Repetir Contraseña</ion-label>
      <ion-input formControlName="verifiedPassword" type="password" ></ion-input>
      <ion-icon name="key" color="primary" slot="end"></ion-icon>
  </ion-item>
  
  <div class="validation-errors">
      <ng-container *ngFor="let validation of mensajes_error.passwordVerif">
        <div class="error-message" *ngIf="reset.get('password_validations').get('verifiedPassword').hasError(validation.type) 
         && (reset.get('password_validations').get('verifiedPassword').dirty || reset.get('password_validations').get('verifiedPassword').touched)">
         <ion-icon name="alert"></ion-icon>{{validation.message}}
        </div>
      </ng-container>
  </div>
</div>
<div class="ion-padding">
    <ion-button class="round-button" fill="outline" expand="block" type="submit" [disabled]="!reset.valid">Cambiar</ion-button>
  </div>
  </form>
</ion-content>
