<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/directory"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img [src]="url">
      <ion-card-content>
        <ion-card-title>Doctor: {{infoDoc.apellidos + " " + infoDoc.nombres}}</ion-card-title>
        <ion-item>
        <ion-label>
          <p><ion-text color="primary">Especializaciones:</ion-text></p><p *ngFor="let espe of especializaciones">{{espe.nombre_esp}}</p>
          <p><ion-text color="primary">Teléfono:</ion-text> {{infoDoc.telefono}}</p>
          <p><ion-text color="primary">Dirección:</ion-text> {{infoDoc.direccion}}</p>
          <p><ion-text color="primary">Email:</ion-text> {{infoDoc.email}}</p>
        </ion-label>
        </ion-item>
      </ion-card-content>
  </ion-card>
</ion-content>
