.loading{
    width: 100%;
    text-align: center;
    padding: 10px;
}

ion-title{
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%;
    height: 100%;
    text-align: center;
    transform: translateX(-50%);
   }

   .fromRight{
    animation-name: fromRight;
    -webkit-animation-name: fromRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
  }
  
  @keyframes fromRight{
    0%{transform: translateX(150%);}
    50%{transform: translateX(-8%);}
    65%{transform: translateX(4%);}
    80%{transform: translateX(-4%);}
    95%{transform: translateX(2%)}
    100%{transform: translateX(0%)}
  }

  ion-list{
    padding-top: 0px !important;
  }

  .list-md.list-inset ion-item:first-child{
    --border-width: 0px;
  }

   @media(max-width: 370px){
    .back{
        font-size: 11px;
    }

    ion-title{
        font-size: 15px;
    }   
}