<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-button routerLink="/landing" class="back"><ion-icon name="arrow-back"></ion-icon>Inicio</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mi historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [formControl]="searchControl" 
  placeholder="Ingrese el mes, año o día de su consulta"
  (ionChange)="searchInput()"></ion-searchbar>
  <div *ngIf="searching" class="loading">
      <ion-spinner name="circles" color="dark-blue"></ion-spinner>
  </div>  
  <ion-list *ngIf="historialesFromDb.length>0">
  <ion-item-sliding *ngFor="let hist of historiales">
        <ion-item class="item item-block item-md fromRight">
            <ion-label><h3 class="ion-text-wrap">Consulta del día {{hist.fecha_consulta}}</h3>
              <ion-label ><ion-text color="primary">Sintomas:</ion-text></ion-label>
                <ng-container *ngFor="let sint of hist.detalles.split(','); let i=index">
                  <p *ngIf="i<3">{{sint}}</p>
                  <p *ngIf="i==4">...</p>
                </ng-container>
            </ion-label>
            <ion-label><ion-text color="primary">Padecimiento:</ion-text><p>{{hist.nombre_pad}}</p></ion-label>
         </ion-item>
        <ion-item-options>
          <button ion-button color="light" icon-start routerLink="/history-detail/{{hist.hashId}}">
            <ion-icon name="more"></ion-icon>
            Detalles
          </button>
        </ion-item-options>  
       
        </ion-item-sliding>
      </ion-list>
      <h2 *ngIf="historialesFromDb.length==0&&waiting==false">No tiene consultas registradas</h2>
</ion-content>
