<ion-app>
  <ion-menu contentId="content" color="primary" side="end" swipeGesture="false" 
     (ionDidOpen)="enableSwipe()" (ionDidClose)="disableSwipe()">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
        <ion-buttons slot="end">
          <ion-menu-toggle><ion-button>X</ion-button></ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngIf="getUserType()"></ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" *ngIf="!isDoctor">
        <ion-item routerLink="/history-list" routerLinkActive="active-link" replaceUrl="true">
            Mi Historial <ion-icon name="paper" slot="end"></ion-icon>
        </ion-item>
        </ion-menu-toggle> 
        <ion-menu-toggle auto-hide="false" *ngIf="isDoctor">
          <ion-item routerLink="/guided-diagnostic" routerLinkActive="active-link" replaceUrl="true">
              Diagnóstico Guiado<ion-icon name="clipboard" slot="end"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" *ngIf="!isDoctor">
            <ion-item routerLink="/diagnostic" routerLinkActive="active-link" replaceUrl="true">
               <ion-label> Diagnóstico</ion-label> <ion-icon name="clipboard" slot="end"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/profile" routerLinkActive="active-link" replaceUrl="true">
            Perfil <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/directory" routerLinkActive="active-link" replaceUrl="true">
          Directorio Médico <ion-icon name="people" slot="end"></ion-icon>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()">
            Logout <ion-icon name="log-out" slot="end"></ion-icon>
          </ion-item>
          </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
