<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
        <ion-button routerLink="/landing"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title class="ion-text-center">Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="datos_perfil" (ngSubmit)="actualizarDatos()">
        <div text-center>
        <img justify-content-center align-items-center style="width:300px;height:200px;" [src]="url">
        </div>    
    <ion-item >
        <ion-label color="success">Imagen</ion-label>
        <ion-input name="picture" type="file" formControlName="picture" accept="image/jpeg" (change)="createFormData($event)"></ion-input>
        <ion-button [hidden]="!hasImage" size="medium" color="success" expand="block" (click)="guardarImg()">Guardar Imagen</ion-button>
    </ion-item>

    <ion-item>
        <ion-label color="success">Nickname</ion-label>
        <ion-input name="nickname" type="text" formControlName="nickname" value="{{usuario.nickname}}" disabled="{{soloVista}}" (keyup)="check()" ></ion-input>
    </ion-item>

    <div class="validation-errors">
        <ng-container *ngFor="let validation of mensajes_error.nickname">
          <div class="error-message" *ngIf="datos_perfil.get('nickname').hasError(validation.type) 
          && (datos_perfil.get('nickname').dirty || datos_perfil.get('nickname').touched)">
            <ion-icon name="alert"></ion-icon>{{validation.message}}
          </div>
        </ng-container>
      </div>
      
    <ion-item>
        <ion-label color="success">Nombre(s)</ion-label>
        <ion-input name="nombres" type="text" value="{{usuario.nombres}}" disabled="{{soloVista}}" formControlName="nombres" ></ion-input>
    </ion-item>

    <div class="validation-errors">
        <ng-container *ngFor="let validation of mensajes_error.nombres">
          <div class="error-message" *ngIf="datos_perfil.get('nombres').hasError(validation.type) 
          && (datos_perfil.get('nombres').dirty || datos_perfil.get('nombres').touched)">
            <ion-icon name="alert"></ion-icon>{{validation.message}}
          </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label color="success">Apellidos(s)</ion-label>
        <ion-input name="apellidos" type="text" value="{{usuario.apellidos}}" disabled="{{soloVista}}" formControlName="apellidos"></ion-input>
    </ion-item>

    <div class="validation-errors">
        <ng-container *ngFor="let validation of mensajes_error.apellidos">
          <div class="error-message" *ngIf="datos_perfil.get('apellidos').hasError(validation.type) 
          && (datos_perfil.get('apellidos').dirty || datos_perfil.get('apellidos').touched)">
            <ion-icon name="alert"></ion-icon>{{validation.message}}
          </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label color="success">Email</ion-label>
        <ion-input type="text" value="{{usuario.email}}" disabled></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="success">Fecha Nacimiento</ion-label>
        <ion-input type="text" value="{{usuario.fecha_nacimiento}}" disabled></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="success">Sexo</ion-label>
        <ion-input type="text" value="{{usuario.sexo}}" disabled></ion-input>
    </ion-item>
   
    <div class="ion-padding">
      <ion-button disabled="{{!soloVista}}" size="medium" color="success" expand="block" (click)="comenzarEdicion()">Editar</ion-button>
    </div>

    <div  class="ion-padding" [hidden]="soloVista">
      <ion-button size="medium" color="success" expand="block" type="submit" [disabled]="datos_perfil.invalid">Guardar</ion-button>
    </div>

    <div  class="ion-padding" [hidden]="soloVista">
        <ion-button size="medium" color="success" expand="block" (click)="cancelar()">Cancelar</ion-button>
    </div>

    <div class="ion-padding">
        <ion-button size="medium" color="success" expand="block" routerLink="/pass-change">Cambiar contraseña</ion-button>
    </div>
    </form>
</ion-content>