<ion-header>
  <ion-toolbar>
      <ion-button slot="start" color="secondary" routerLink="/landing" >Volver</ion-button>
    <ion-title class="ion-text-center">Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="!hasPregunta">
      <ion-card>
          <ion-item>
              <p>Bienvenido a la herramienta de diagnostico. 
                 Para comenzar simplemente haga click en el siguiente botón</p>
          </ion-item>
          <ion-card-content>
              <ion-button size="medium" color="success" expand="block" slot="end" (click)="iniciarDiagnostico()">Comenzar</ion-button>              
          </ion-card-content>
        </ion-card>

</div>

<div [hidden]="!hasPregunta">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Sus sintomas: {{breadcrumb}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!hasResult">Descripción: {{descripcion}}</ion-card-subtitle>
          <ion-card-title>{{message}}</ion-card-title>
          <ion-label *ngIf="hasResult"><p>Sintomas pertenecientes a su resultado:</p><p *ngFor="let sintoma of sintomasSeleccionados">{{sintoma.desc}}</p></ion-label>
        </ion-card-header>
        <ion-card-content>
            <ion-button size="medium" slot="end" expand="block" color="success" [hidden]="hasResult" (click)="responder('Si')">Si</ion-button>
            
            <ion-button size="medium" slot="start" expand="block" color="danger" [hidden]="hasResult" (click)="responder('No')">No</ion-button>
        
            <br>

            <ion-button *ngIf='!isDoctor' routerLink="/record" expand="block"  size="medium" color="medium" [hidden]="!hasResult" >Continuar</ion-button>
            <ion-button *ngIf='isDoctor' routerLink="/landing" expand="block"  size="medium" color="medium" [hidden]="!hasResult" >Finalizar</ion-button>

        </ion-card-content>
      </ion-card>
 
</div>
</ion-content>
