<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/landing" replaceUrl="true" ><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  <ion-title>Diágnostico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="!hasPregunta">
      <ion-card>
          <ion-item>
              <p>Bienvenido a la herramienta de diagnostico. 
                 Para comenzar simplemente haga click en comenzar para iniciar un diagnostico desde 0
                  o bien seleccione el area en donde tenga la mayor cantidad de molestias y seleccione sintomas</p>
          </ion-item>
          <ion-card-content>
              <ion-button size="medium" color="success" expand="block" slot="end" (click)="iniciarDiagnostico()">Comenzar</ion-button>              
              <ion-button color="success" *ngIf="sintomasSeleccionados.length>0" (click)="fromSintomasIniciales()"  expand="block" slot="end">Iniciar diagnostico con sintomas iniciales</ion-button>
        </ion-card-content>
        <div *ngIf="sintomasShow.length>0">
            <label >Mis sintomas seleccionados:</label>
            <div style="overflow-y: auto; height: 100px;">
                <ion-item *ngFor="let sintoma of sintomasShow">
                    <ion-label>{{sintoma.name}}</ion-label>
                    <ion-icon name="help-circle" slot="end" (click)="alertServ.infoAlert(sintoma.descripcion)"></ion-icon>
                </ion-item>
            </div>
            
        </div>
            <div>
                <div>
                <img src="/assets/Body.PNG" usemap="#mapname" class="imgcent" width="100%">
                
                <map name="mapname" id="map_ID">
                    <area class="point" shape="rect" [coords]="headCoord" (click)="selectSintomas('Cabeza')" title="Cabeza">
                    <area class="point" shape="rect" [coords]="pecCoord" (click)="selectSintomas('Pecho')" title="Pecho">
                    <area class="point" shape="rect" [coords]="abCoord" (click)="selectSintomas('Abdomen')" title="Abdomen">
                </map>
            </div>
            
            </div>

        <ion-button color="error" *ngIf="isSelection" (click)="cancel()"  expand="block" slot="end">Cancelar</ion-button>
        <br>
        
        <br>
        </ion-card>

</div>

<div [hidden]="!hasPregunta">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Sus sintomas: {{breadcrumb}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!hasResult || question.type==='boolean'">Descripción: {{descripcion}}</ion-card-subtitle>
          <ion-card-title>{{question.message}}</ion-card-title>
         </ion-card-header>
        <ion-card-content>
            <div *ngIf="question.type === 'boolean'">
            <ion-button size="medium" slot="end" expand="block" color="success" [hidden]="hasResult" (click)="responder('Si')">Si</ion-button>
            
            <ion-button size="medium" slot="start" expand="block" color="danger" [hidden]="hasResult" (click)="responder('No')">No</ion-button>
            </div>

            <div *ngIf="question.type === 'option'">
                <ion-button size="medium" slot="end" expand="block" color="success" [hidden]="hasResult" (click)="optionAnswer(question.options,question.normal,question.atoms,'Si')">Si</ion-button>
            
                <ion-button size="medium" slot="start" expand="block" color="danger" [hidden]="hasResult" (click)="optionAnswer(question.options,question.normal,question.atoms,'No')">No</ion-button>
            </div>
            <div *ngIf="question.type === 'numeric'">
                <form [formGroup]="numeric" (ngSubmit)="numericAnswer()">
                    <ion-item>
                        <ion-input  formControlName="temp" type="text" placeholder="Temperatura corporal"></ion-input>
                      </ion-item>
                            <div class="validation-errors">
                            <ng-container *ngFor="let validation of errores_Diag.temp">
                                <div class="form-control-feedback" *ngIf="numeric.get('temp').hasError(validation.type) 
                                && (numeric.get('temp').dirty || numeric.get('temp').touched)">
                                <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                                </div>
                            </ng-container>
                        </div>
    
                    <ion-button type="submit" class="btn btn-outline-primary boton" [disabled]="!numeric.valid">
                            Enviar
                    </ion-button>
                </form>
            </div>

            <div *ngIf="question.type === 'scale'">
                <ion-item>
                    <ion-range [color]="color" min="1" max="10" pin [(ngModel)]="painIndex" (ionChange)="rangeDynamic()" snaps="true"></ion-range>
                    </ion-item>
                <ion-button class="btn btn-outline-primary boton" (click)="scaleAnswer(question.index)">
                            Enviar
                </ion-button>
            </div>
            <br>

            <div *ngIf="question.type === 'selection'">
                <div *ngFor="let boton of question.buttons">
                    <ion-button size="medium" slot="start" expand="block" color="primary" (click)=selectedOption(boton.value)>{{boton.message}}</ion-button>
                    <i class="far fa-question-circle" title="{{boton.desc}}"></i>
                </div>
            </div>
            <ion-button routerLink="/history-list" replaceUrl="true" expand="block"  size="medium" color="medium" [hidden]="!hasResult" >Continuar</ion-button>

        </ion-card-content>
      </ion-card>
 
</div>

<div  *ngIf="hasResult">
    <ion-list *ngIf="hasResult"><p>Sintomas pertenecientes a su resultado:</p>
        <ion-item *ngFor="let sintoma of sintomasResultado">
            <ion-label>{{sintoma.desc}}</ion-label>
        </ion-item>
    </ion-list>
    

    <div>
        <div *ngIf="niveles.Medio.length>0">
            <ion-item color="medium">Sintomas destacados  <ion-icon name="help-circle" slot="end" (click)="showInfo('medio')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Medio">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Ninguno.length>0">
            <ion-item color="medium">Sintomas sin urgencia  <ion-icon name="help-circle" slot="end" (click)="showInfo('ninguno')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Ninguno">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Bajo.length>0">
            <ion-item color="medium">Sintomas de baja urgencia <ion-icon name="help-circle" slot="end" (click)="showInfo('bajo')"></ion-icon></ion-item>
            <ion-list inset=true>
                    <ion-item *ngFor="let niv of niveles.Bajo">
                        <ion-label>{{niv.sintoma}}</ion-label>
                    </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Alto.length>0">
            <ion-item color="medium">Sintomas de alta urgencia <ion-icon name="help-circle" slot="end" (click)="showInfo('alto')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Alto">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Severo.length>0">
            <ion-item color="medium">Sintomas de severidad <ion-icon name="help-circle" slot="end" (click)="showInfo('severo')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Severo">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
    </div>
  <ul *ngIf="sintomasExtras.length>0">
    <h2>Sin embargo presento sintomas que pueden concordar con las siguientes enfermedades: </h2>
    <li *ngFor="let sints of sintomasExtras">
      {{sints.padecimiento + " " + sints.porcentaje}} 
      <p><ion-progress-bar color="primary" value="{{sints.showPorcentaje}}"></ion-progress-bar></p>
    </li>
</ul>

<div>
    <div>
    <h3>Conforme sus sintomas le recomendamos asistir con:</h3>
    <ion-item>
        <ion-label color="primary">
        {{doc_recomendacion[0].espe}}
        </ion-label>
    </ion-item>
    </div>
    <div *ngIf="doc_recomendacion.length>0">
        <h3>o bien con un:</h3>
        <ion-item>
            <ion-label color="primary">
            {{doc_recomendacion[1].espe}}
            </ion-label>
        </ion-item>
    </div>
</div>
<div>
    <div *ngIf="user_recommendation.length>0">
        <div>
        <h3>Pacientes con sintomas similares a los suyos suelen asistir con:</h3>
            <legend class="response">
            {{user_recommendation[0].espe}}
            </legend>
        </div>
    </div>
</div>
</div>
</ion-content>
