<ion-header>
  <ion-toolbar>
      <ion-button slot="start" color="tertiary" routerLink="/history-list" >Volver</ion-button>
    <ion-title class="ion-text-center" style="font-size:15px">Consulta de {{historial.fecha_consulta}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <img justify-content-center align-items-center style="width:300px;height:200px;" [src]="url">
    <ion-item>
        <ion-label>Con resultado de {{historial.nombre_pad}}</ion-label>
    </ion-item>
    <ion-card-content>
      {{historial.descripcion}}
      <br>
      <ion-label><span>Médico recomendado para chequeo en caso de complicaciones:</span> {{historial.nombre_esp}}</ion-label>
      <br>
      <ion-list>
        <ion-label>Con los sintomas:</ion-label>
        <ion-item *ngFor="let sintoma of sintomas">
          <ion-label>{{sintoma}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
