<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Selección de síntomas en {{label}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label>Síntomas</ion-label>
  <ion-select placeholder="Eliga los sintomas" multiple="true" [(ngModel)] = "sintomasSeleccionados">
    <ion-select-option *ngFor="let ini of sintomas" value="{{ini.idSint}}" >{{ini.nombre_sint}}</ion-select-option>
</ion-select>
<div class="ion-padding">
  <ion-button size="medium" expand="block" (click)="dismiss()" >Continuar</ion-button>
</div>

</ion-content>
