<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/landing" replaceUrl="true"><ion-icon name="arrow-back"></ion-icon>Menú Principal</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="ion-text-center">Diagnóstico Guiado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="!hasPregunta">
      <ion-card>
          <ion-item>
              <p>Bienvenido a la herramienta de diagnóstico. 
                 Para comenzar simplemente seleccione un paciente</p>
          </ion-item>
          <ion-item>
              <ion-label>Paciente a diagnosticar</ion-label>
              <ion-select placeholder="Eliga el paciente" (ionChange)="selectUser($event)" interface=popover>
                <ng-container *ngFor="let letter of divisions">
                    <ion-select-option disabled="true">{{letter.value.toUpperCase()}}</ion-select-option>
                    <ion-select-option *ngFor="let usuario of usuarios[letter.index]" value="{{usuario.id}}" >{{usuario.fullname}}</ion-select-option>
                </ng-container>
              </ion-select>
          </ion-item>
          <ion-card-content>
            <ion-button color="medium" *ngIf="selectedUser" (click)="iniciarDiagnostico()"  expand="block" slot="end">Iniciar diagnóstico desde 0</ion-button>
            <ion-label *ngIf="selectedUser">o bien seleccione el área en donde el paciente tenga la mayor cantidad de síntomas y selecciónelos</ion-label>
            <ion-button color="success" *ngIf="sintomasSeleccionados.length>0" (click)="fromSintomasIniciales()"  expand="block" slot="end">Iniciar diagnóstico con síntomas iniciales</ion-button>
          </ion-card-content>
          <div *ngIf="sintomasShow.length>0">
            <ion-label>Síntomas seleccionados:</ion-label>
            <div style="overflow-y: auto; height: 100px;">
                <ion-item *ngFor="let sintoma of sintomasShow">
                    <ion-label>{{sintoma.name}}</ion-label>
                    <ion-icon name="help-circle" slot="end" (click)="alertServ.infoAlert(sintoma.descripcion)"></ion-icon>
                </ion-item>
            </div>
            
        </div>
        <div>
            <div>
            <img src="/assets/Body.PNG" usemap="#mapname" class="imgcent" width="100%">
            
            <map name="mapname" id="map_ID">
                <area class="point" shape="rect" [coords]="headCoord" (click)="selectSintomas('Cabeza')" title="Cabeza">
                <area class="point" shape="rect" [coords]="throatCoord" (click)="selectSintomas('Garganta y Cuello')" title="Garganta y Cuello">
                <area class="point" shape="rect" [coords]="pecCoord" (click)="selectSintomas('Pecho')" title="Pecho">
                <area class="point" shape="rect" [coords]="abCoord" (click)="selectSintomas('Abdomen')" title="Abdomen">
            </map>
        </div>
        
        </div>

          
        </ion-card>

</div>

<div [hidden]="!hasPregunta">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Sus síntomas: {{breadcrumb}}</ion-card-subtitle>
          <ion-card-title *ngIf="!hasResult && question.type==='boolean'">{{descripcion}}</ion-card-title>
          <ion-card-title>{{question.message}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                <div *ngIf="question.type === 'boolean'">
                    <ion-button size="medium" slot="end" expand="block" color="success" [hidden]="hasResult" (click)="responder('Si')">Si</ion-button>
                    
                    <ion-button size="medium" slot="start" expand="block" color="danger" [hidden]="hasResult" (click)="responder('No')">No</ion-button>
                </div>
    
                <div *ngIf="question.type === 'option'">
                    <ion-button size="medium" slot="end" expand="block" color="success" [hidden]="hasResult" (click)="optionAnswer(question.options,question.normal,question.atoms,'Si')">Si</ion-button>
                   
                    <ion-button size="medium" slot="start" expand="block" color="danger" [hidden]="hasResult" (click)="optionAnswer(question.options,question.normal,question.atoms,'No')">No</ion-button>
                </div>

                <div *ngIf="question.type === 'numeric'">
                    <form [formGroup]="numeric" (ngSubmit)="numericAnswer()">
                        <ion-item>
                            <ion-input  formControlName="temp" type="text" placeholder="Temperatura corporal"></ion-input>
                          </ion-item>
                                <div class="validation-errors">
                                <ng-container *ngFor="let validation of errores_Diag.temp">
                                    <div class="form-control-feedback" *ngIf="numeric.get('temp').hasError(validation.type) 
                                    && (numeric.get('temp').dirty || numeric.get('temp').touched)">
                                    <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
        
                        <ion-button type="submit" class="btn btn-outline-primary boton" [disabled]="!numeric.valid">
                                Enviar
                        </ion-button>
                    </form>
                </div>
    
                <div *ngIf="question.type === 'scale'">
                    <ion-item>
                        <ion-range min="1" max="10" pin [color]="color" [(ngModel)]="painIndex" (ionChange)="rangeDynamic()" snaps="true"></ion-range>
                        </ion-item>
                    <ion-button class="btn btn-outline-primary boton" (click)="scaleAnswer(question.index)">
                                Enviar
                    </ion-button>
                </div>

                <div *ngIf="question.type === 'selection'">
                    <div *ngFor="let boton of question.buttons">
                        <ion-button size="medium" slot="start" expand="block" color="primary" (click)=selectedOption(boton.value)>{{boton.message}}</ion-button>
                        <i class="far fa-question-circle" title="{{boton.desc}}"></i>
                    </div>
                </div>
            <br>
            <ion-button *ngIf='isDoctor' (click)="goBack()" routerLink="/landing" expand="block"  size="medium" color="medium" [hidden]="!hasResult" >Finalizar</ion-button>

        </ion-card-content>
      </ion-card>
 
</div>
<div  *ngIf="hasResult">
    <ion-list *ngIf="hasResult"><p>Síntomas pertenecientes a su resultado:</p>
        <ion-item *ngFor="let sintoma of sintomasResultado">
            <ion-label>{{sintoma.desc}}</ion-label>
        </ion-item>
    </ion-list>
    
    <div>
        <div *ngIf="niveles.Medio.length>0">
            <ion-item color="medium">Síntomas destacados  <ion-icon name="help-circle" slot="end" (click)="showInfo('medio')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Medio">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Ninguno.length>0">
            <ion-item color="medium">Síntomas sin urgencia  <ion-icon name="help-circle" slot="end" (click)="showInfo('ninguno')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Ninguno">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Bajo.length>0">
            <ion-item color="medium">Síntomas de baja urgencia <ion-icon name="help-circle" slot="end" (click)="showInfo('bajo')"></ion-icon></ion-item>
            <ion-list inset=true>
                    <ion-item *ngFor="let niv of niveles.Bajo">
                        <ion-label>{{niv.sintoma}}</ion-label>
                    </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Alto.length>0">
            <ion-item color="medium">Síntomas de alta urgencia <ion-icon name="help-circle" slot="end" (click)="showInfo('alto')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Alto">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Severo.length>0">
            <ion-item color="medium">Síntomas de severidad <ion-icon name="help-circle" slot="end" (click)="showInfo('severo')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Severo">
                    <ion-label>{{niv.sintoma}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
    </div>
</div>
</ion-content>

