<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/landing" replaceUrl="true" class="back"><ion-icon name="arrow-back"></ion-icon>Inicio</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="ion-text-center">Diagnóstico Guiado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  *ngIf="!hasPregunta">
      <ion-card>
          <ion-item>
              <p class="ion-text-justify">Bienvenido a la herramienta de diagnóstico. 
                 Para comenzar simplemente seleccione un paciente y a continuación los síntomas que presenta</p>
          </ion-item>
          <ion-item>
              <ion-label class="ion-text-wrap">Paciente a diagnosticar</ion-label>
          </ion-item>
            <ion-select placeholder="Eliga el paciente" (ionChange)="selectUser($event)" interface=popover>
                <ng-container *ngFor="let letter of divisions">
                    <ion-select-option disabled="true">{{letter.value.toUpperCase()}}</ion-select-option>
                    <ion-select-option *ngFor="let usuario of usuarios[letter.index]" value="{{usuario.id}}" >{{usuario.fullname}}</ion-select-option>
                </ng-container>
              </ion-select>
          <ion-card-content>
            <!---<ion-button color="medium" *ngIf="selectedUser" (click)="iniciarDiagnostico()"  expand="block" slot="end">Iniciar diagnóstico desde 0</ion-button>--->
            <ion-label *ngIf="selectedUser" class="ion-text-justify">Seleccione el área en donde el paciente tenga la mayor cantidad de molestia y seleccione los síntomas que detecte, puede cambiar la imagen deslizando hacia la derecha</ion-label>
            <ion-button fill="outline" color="secondary" *ngIf="sintomasSeleccionados.length>0" (click)="fromSintomasIniciales()"  expand="block" slot="end">Iniciar diagnóstico</ion-button>
          </ion-card-content>
          <div *ngIf="sintomasShow.length>0">
            <ion-label class="title">Síntomas seleccionados:</ion-label>
            <div style="overflow-y: auto; height: 150px;">
                <ion-item *ngFor="let sintoma of sintomasShow">
                    <ion-label>{{sintoma.name}}</ion-label>
                    <ion-icon name="help-circle" slot="end" (click)="alertServ.infoAlert(sintoma.descripcion)"></ion-icon>
                </ion-item>
            </div>
            
        </div>
        <div>
            <div>
                <ion-slides>
                    <ion-slide>
                        <img src="/assets/frontbody.png" usemap="#mapname" class="imgcent" width="100%">
                    </ion-slide>
                    <ion-slide>
                        <img src="/assets/backbody.png" usemap="#backside" class="imgcent" width="100%">
                    </ion-slide>
                </ion-slides>
            
            <map name="mapname" id="map_ID">
                <area class="point" shape="rect" [coords]="headCoord" (click)="selectSintomas('Cabeza')" title="Cabeza">
                <area class="point" shape="rect" [coords]="throatCoord" (click)="selectSintomas('Garganta y Cuello')" title="Garganta y Cuello">
                <area class="point" shape="rect" [coords]="pecCoord" (click)="selectSintomas('Pecho')" title="Pecho">
                <area class="point" shape="rect" [coords]="abCoord" (click)="selectSintomas('Abdomen')" title="Abdomen">
            </map>

            <map name="backside" id="map_ID">
                <area class="point" shape="rect" [coords]="headCoord" (click)="selectSintomas('Cabeza')" title="Cabeza">
                <area class="point" shape="rect" [coords]="throatCoord" (click)="selectSintomas('Garganta y Cuello')" title="Garganta y Cuello">
                <area class="point" shape="rect" [coords]="backCoord" (click)="selectSintomas('Espalda')" title="Espalda">
            </map>
        </div>
        
        </div>

          
        </ion-card>

</div>

<div [hidden]="!hasPregunta">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle><span>Sus síntomas:</span> {{breadcrumb}}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!hasResult && question.type==='boolean'"><span>Descripción:</span> {{descripcion}}</ion-card-subtitle>
          <ion-card-title>{{question.message}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
                <div *ngIf="question.type === 'boolean'">
                  <ion-grid>
                    <ion-row>
                        <ion-col col-6>
                            <ion-button size="medium" expand="block" color="danger" [hidden]="hasResult" (click)="responder('No')">No</ion-button>
                        </ion-col>
                        <ion-col col-6>
                            <ion-button size="medium" expand="block" color="success" [hidden]="hasResult" (click)="responder('Si')">Si</ion-button>
                        </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
    
                <div *ngIf="question.type === 'option'">
                    <ion-grid>
                        <ion-row>
                         <ion-col col-6>
                            <ion-button size="medium" expand="block" color="danger" [hidden]="hasResult" (click)="optionAnswer(question.options,question.normal,question.atoms,'No')">No</ion-button>
                        </ion-col>
                        <ion-col col-6>
                            <ion-button size="medium" expand="block" color="success" [hidden]="hasResult" (click)="optionAnswer(question.options,question.normal,question.atoms,'Si')">Si</ion-button>
                        </ion-col>
                        </ion-row>
                    </ion-grid> 
                </div>

                <div *ngIf="question.type === 'numeric'">
                    <form [formGroup]="numeric" (ngSubmit)="numericAnswer()">
                        <ion-item class="ion-no-padding">
                            <ion-input  formControlName="temp" type="text"></ion-input>
                        </ion-item>
                                <div class="validation-errors">
                                <ng-container *ngFor="let validation of errores_Diag.temp">
                                    <div class="error-message" *ngIf="numeric.get('temp').hasError(validation.type) 
                                    && (numeric.get('temp').dirty || numeric.get('temp').touched)">
                                    <ion-icon name="alert"></ion-icon> {{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
        
                        <ion-button type="submit" class="btn" expand="block" fill="outline" [disabled]="!numeric.valid">
                                Continuar
                        </ion-button>
                    </form>
                </div>
    
                <div *ngIf="question.type === 'scale'">
                    <ion-item class="range">
                        <ion-range min="1" max="10" pin [color]="color" [(ngModel)]="painIndex" (ionChange)="rangeDynamic()" snaps="true"></ion-range>
                        </ion-item>
                    <ion-button class="btn" expand="block" fill="outline" (click)="scaleAnswer(question.index)">
                                Continuar
                    </ion-button>
                </div>

                <div *ngIf="question.type === 'selection'">
                    <div *ngFor="let boton of question.buttons">
                        <ion-item class="ion-text-center range">
                            <ion-label>
                                <ion-button size="medium" fill="outline" color="primary" (click)=selectedOption(boton.value)>{{boton.message}}</ion-button>
                            </ion-label>
                                <ion-icon class="explain" name="help-circle" (click)="alertServ.infoAlert(boton.desc)" ></ion-icon>
                        </ion-item>
                    </div>
                </div>
            <br>
            <ion-button *ngIf='isDoctor' (click)="goBack()" routerLink="/landing" expand="block" fill="outline" size="medium" color="primary" [hidden]="!hasResult" >Finalizar</ion-button>

        </ion-card-content>
      </ion-card>
 
</div>
<div  *ngIf="hasResult">
    <ion-list *ngIf="hasResult && idResultado!=''"><p>Síntomas pertenecientes a su resultado:</p>
        <ion-item *ngFor="let sintoma of sintomasResultado">
            <ion-label>{{sintoma.desc}}</ion-label>
        </ion-item>
    </ion-list>
    
    <div>
        <div *ngIf="niveles.Medio.length>0">
            <ion-item color="success">Síntomas destacados  <ion-icon name="help-circle" slot="end" (click)="showInfo('medio')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Medio">
                    <ion-label *ngIf="niv.reason==''" class="ion-text-wrap">{{niv.sintoma}}</ion-label>
                    <ion-label *ngIf="niv.reason!=''" class="ion-text-wrap">{{niv.sintoma}} - {{niv.reason}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Ninguno.length>0">
            <ion-item color="secondary">Síntomas sin urgencia  <ion-icon name="help-circle" slot="end" (click)="showInfo('ninguno')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Ninguno">
                    <ion-label *ngIf="niv.reason==''" class="ion-text-wrap">{{niv.sintoma}}</ion-label>
                    <ion-label *ngIf="niv.reason!=''" class="ion-text-wrap">{{niv.sintoma}} - {{niv.reason}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Bajo.length>0">
            <ion-item color="primary">Síntomas de baja urgencia <ion-icon name="help-circle" slot="end" (click)="showInfo('bajo')"></ion-icon></ion-item>
            <ion-list inset=true>
                    <ion-item *ngFor="let niv of niveles.Bajo">
                     <ion-label *ngIf="niv.reason==''" class="ion-text-wrap">{{niv.sintoma}}</ion-label>
                     <ion-label *ngIf="niv.reason!=''" class="ion-text-wrap">{{niv.sintoma}} - {{niv.reason}}</ion-label>
                    </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Alto.length>0">
            <ion-item color="warning">Síntomas de alta urgencia <ion-icon name="help-circle" slot="end" (click)="showInfo('alto')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Alto">
                    <ion-label *ngIf="niv.reason==''" class="ion-text-wrap">{{niv.sintoma}}</ion-label>
                    <ion-label *ngIf="niv.reason!=''" class="ion-text-wrap">{{niv.sintoma}} - {{niv.reason}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
          <div *ngIf="niveles.Severo.length>0">
            <ion-item color="danger">Síntomas de severidad <ion-icon name="help-circle" slot="end" (click)="showInfo('severo')"></ion-icon></ion-item>
            <ion-list inset=true>
                <ion-item *ngFor="let niv of niveles.Severo">
                    <ion-label *ngIf="niv.reason==''" class="ion-text-wrap">{{niv.sintoma}}</ion-label>
                    <ion-label *ngIf="niv.reason!=''" class="ion-text-wrap">{{niv.sintoma}} - {{niv.reason}}</ion-label>
                </ion-item>
            </ion-list>
          </div>
    </div>
</div>
</ion-content>

