.title{
    color:blue;
}

.loading{
    width: 100%;
    text-align: center;
    padding: 10px;
}

ion-title{
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%;
    height: 100%;
    text-align: center;
    transform: translateX(-50%);
   }

   ion-list{
    padding-top: 0px !important;
  }
  
@media(max-width: 370px){
    .back{
        font-size: 11px;
    }

    ion-title{
        font-size: 15px
    }
}