<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/landing"><ion-icon name="arrow-back"></ion-icon>Menú Principal</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!hasEspe" class="ion-text-center">Directorio Médico</ion-title>
    <ion-title *ngIf="hasEspe" class="ion-text-center">Directorio Médico de {{tipo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-searchbar [formControl]="searchControl" 
    placeholder="Ingrese el nombre del médico"
    (ionChange)="searchInput()"></ion-searchbar>
    <div *ngIf="searching" class="loading">
        <ion-spinner></ion-spinner>
    </div>  
  <ion-list *ngIf="medicos.length>0">
    <ion-item-sliding *ngFor="let medico of medicosFilter">
      <ion-item class="item item-block item-md">
          <ion-label><h2>Doctor {{medico.nombres}}</h2>
                     <h2>       {{medico.apellidos}}</h2>
                                            <p><span class="title">Teléfono:</span> {{medico.telefono}}</p>
                                            <p><span class="title">Dirección:</span> {{medico.direccion}}</p>
                                            </ion-label>
          <ion-label *ngIf="!hasEspe"><p class="title">Especializaciones:</p><p *ngFor="let espe of medico.especializacions">{{espe.nombre_esp}}</p></ion-label>
       </ion-item>
      <ion-item-options>
        <button ion-button color="light" icon-start routerLink="/directory-detail/{{medico.hash_id}}">
          <ion-icon name="more"></ion-icon>
          Detalles
        </button>
      </ion-item-options>  
     
      </ion-item-sliding>
  </ion-list>
  <h2 *ngIf="medicos.length==0">No hay médicos en el sistema</h2>
</ion-content>
